<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57003066989-nv0cqhagsc9phaidi8svadra8qdic1jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57003066989-nv0cqhagsc9phaidi8svadra8qdic1jr</string>
	<key>API_KEY</key>
	<string>AIzaSyC38njVcL286PEPOGvXtK6qqPjIDhY-rq4</string>
	<key>GCM_SENDER_ID</key>
	<string>57003066989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huseyincanyildiz.BitirmeProjesi</string>
	<key>PROJECT_ID</key>
	<string>bitirme-6f8ce</string>
	<key>STORAGE_BUCKET</key>
	<string>bitirme-6f8ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57003066989:ios:dae251851078d6da3c6164</string>
</dict>
</plist>